
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    
    width: 1200px;
    margin: 0 auto;
}

.content {
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 110px 90px;
}

/* about  */

.about {
margin-bottom: 40px;
}

.aboutposition {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.aboutname {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 375px;
}
/* ширина менше, бо висячi лiтери не гaрно виглядають */

/* project  */
.projects {
   margin-bottom: 40px;
}

.title {
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
color: #000000;
margin-bottom: 10px;
}

.pr-list {
padding: 0;
margin-left: 15px;
}

.projects-item {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #000000;
}

.project, 
.pr-link {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px; 
color: #595959;
}

.pr-link {
    margin-left: 10px;
}

.pr-breket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
/* work  */

.w-vidstan {
margin-bottom: 20px;
}

.w-posit{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.w-list {
padding: 0;
margin-left: 15px;
}

.w-item {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;
width: 500px;
}

.organ {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #A8A8A8;
margin-bottom: 10px;
}

.line {
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
color: #000000;
}

/* bokova panel */
.sidebar {
    background: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px; 
    margin-bottom: 50px;
}

.contact, .tech, .soft
 {
    margin-left: 40px;
    margin-bottom: 50px;
}

.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.cont-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;  
    color: #FFFFFF;
    margin-right: 5px;
}

.link {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #A8A8A8;
}

.hard {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
    margin-right: 20px;
}

.skils {
color: #FFFFFF;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}

.li {
    color: coral;
}

